/* Переменные */
:root{
	--bg-color: #263238; 
	--fonts-color: #ffffff;
	--green: #02897A;
	--border: 0 solid transparent;
	--title-font-size: 32px;
	--title-font-weight: 700;
}
/* Darkmode */
[dark]{
	transition: ease-in-out .3s;
	--bg-color: #ffffff; 
	--fonts-color: #22343D;
	--border: 1px solid #DEDEDE;
}

*{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: inherit;
}

body{
	transition: ease-in-out .3s;
	background-color: var(--bg-color);
	
	color: var(--fonts-color);
	font-size: 16px;
	font-weight: 400;
}

.wrapper{
	width: 100%;
	max-width: 1105px;
	margin: 0 auto;
	padding: 0 15px;
}

/* header
===================== */
.header-top{
	background-color: inherit;
	padding: 19px 0 24px 0;
}

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo{
	display: flex;align-items: center;
	font-size: 30px;
	font-weight: 700;
}

.nav__logo__img{
	margin-right: 16px;
}

.nav-list{
	display: flex;
	align-items: center;
}

.nav-list__item{
	margin-left: 24px;
}

.nav-list__item:first-child{
	margin-left: 0;
}

.nav__link{
	color: inherit;
	font-weight: 300;
}

.nav__link:hover{
	cursor: pointer;
}

.nav__link__active{
	font-weight: 600;
}

.btn{
	border: 1px solid var(--green);
	border-radius: 4px;
	background-color: var(--green);
	color: #ffffff;
	font-weight: 600;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.btn:hover	{
	background-color: transparent;
	border-color: #BCD0E5;
	color: var(--green);
}

.btn__sign-in{
	padding: 10px 22px;
	background-color: transparent;
	border-color: #BCD0E5;
	color: var(--fonts-color);
}

.btn__sign-in:hover{
	background-color: var(--green);
	border-color: var(--green);
	color: var(--fonts-color);
}

.btn__sign-up{
		padding: 10px 22px;
}

/* Header content 
==================== */
.header-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}

.header-content__title{
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
	width: 420px;
}

.header-content__subtitle{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	width: 450px;

	margin-top: 28px;
	margin-bottom: 45px;
}

.header-content__started{
	display: flex;
	align-items: center;
}

.btn__get-started{
	padding: 15px 41px;
	margin-right: 30px;
	font-weight: 700;
}

.watch__link{
	display: flex;
	align-items: center;
	text-decoration: underline;
	font-weight: 600;
}

.watch__link__triangle{
	margin-right: 9px;
}

/* Product
====================== */
.product{
	margin-top: 150px;
}

.product__title{
	font-size: 32px;
	font-weight: 700;
	width: 530px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 58px;
}

.product-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product-content__item{
	width: 240px;
}

.product-content__img{
	width: 50px;
	height: 50px;
}

.product-content__title{
	font-size: 22px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 13px;
}

.product-content__sutitel{
	line-height: 26px;
}


/* services
==================== */
.services-block__item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 150px;
}

.services-text{
	width: 486px;
}

.services__subtitle{
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 12px;
}

.services__subtitle__first{
	margin-bottom: 8px;
}

.services__title{
		font-size: var(--title-font-size);
		font-weight: var(--title-font-weight);
		margin-bottom: 30px;
}

.services__info{
	line-height: 26px;
	margin-bottom:  30px;
}


.supporting__item{
	display: flex;
	align-items: center;
	width: 430px;
	margin-bottom: 30px;
}
.services-block__item:last-child{
	margin-bottom: 0;
}

.check-box{
	padding: 11px 10px;
	border-radius: 14px;
	margin-right: 30px;
}

.check-box__orange{
	border: 1px solid #FF9900;
	background-color: #FF9900;
}

.check-box__red{
	border: 1px solid #F03E3D;
	background-color: #F03E3D;
}

.check-box__blue{
	border: 1px solid #4D8DFF;
	background-color: #4D8DFF;
}

/* process
===================== */
.process{
	margin-top: 200px;
}

.process__title{
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	text-align: center;
}

.process__subtitle{
	font-weight: 500;
	line-height: 26px;
	text-align: center;
	width: 540px;
	margin: 0 auto;
	margin-top: 16px;
}

.process-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 32px;
}


.process-item{
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.team__img__right{
	margin-left: 16px;
}

.team__img__left{
	margin-right: 16px;
}

.process-item__text{
	border: 1px solid #fff;
	padding: 15px 24px;
	border-radius: 27px;
	background-color: #ffffff;
	box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
}

.cloud-left::before{
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	top: 31px;
	right: 215px;
}

.cloud-left::after{
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	top: 35px;
	right: 226px;
}

.cloud-right::before{
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	top: 31px;
	right: 63px;
}

.cloud-right::after{
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	top: 35px;
	right: 38px;
}

.process-item__text__subtitle{
	font-weight: 500;
	line-height: 24px;
	color: #2F281E;
}

.btn-contact{
	text-align: center;
	margin-top: 48px;
}

.contact{
	padding: 15px 30px;
	font-weight: 700;
	line-height: 26px;
}

/* strategy
===================== */
.strategy{
	margin-top: 158px;
}

.strategy__title{
	font-size: 34px;
	font-weight: var(--title-font-weight);
}

.strategy__subtitle{
	font-weight: 500;
}

.strategy-content{
	margin-top: 33px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.strategy__item{
	border: var(--border);
	border-radius: 8px;
	overflow: hidden;
	background-color: #ffffff;
}
.strategy__item:last-child{
	margin-right: 0;
}

.strategy__item__info{
	padding: 21px 18px;
}

.strategy__item__subtitle{
	color: #22343D;
}

.strategy__item__subtitle__name{
	font-weight: 700;
	color: #22343D;
}

.strategy__item__title{
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	width: 310px;
	color: #22343D;
}

.strategy__item__title__active{
	color: #02897A;
}

.slider-chek{
	text-align: center;
	margin-top: 64px;
}

.choice-btn{
	width: 16px;
	height: 16px;
	border: none;
	border-radius: 50%;
	background-color: #EFEFEF;
}

.choice-btn-active{
	background-color: #02897A;
}

/* price
=================== */
.price__title{
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	text-align: center;
	margin-top: 27px;
}

.price__subtitle{
	font-weight: 500;
	text-align: center;
	margin-bottom: 173px;
}

.price-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.price-item{
	width: 323px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
	transition: all .2s ease-in;
}

.price-item__center{
	background-color: var(--green);
}

.price-content__title__center{
	margin-top: 24px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: var(--title-font-weight);
	color: #ffffff;
}

.price-price__center{
	color: #ffffff;
	font-size: 76px;
	font-weight: var(--title-font-weight);
}

.price__dollar__center{
	font-family: 'Inter', sans-serif;
	font-weight: var(--title-font-weight);
	color: #ffffff;
	font-size: 24px;
}

.price-info__center > p{
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	margin-bottom: 17px;
}

.price-info__center >p:last-child{
	margin-bottom: 38px;
}

.btn-order__center{
	padding: 11px 20px;
	color: #22343D;
	background-color: #ffffff;
	border-radius: 8px;
}

.btn-order__center:hover{
	border: 1px solid #ffffff;
	color: #ffffff;
}

.price-content__subtitle__center{
	color: #ffffff;
}

.price-item:hover{
	transform:translateY(-10px)
}

.price-content__title{
	margin-top: 24px;
	margin-bottom: 8px;
	color: #22343D;
	font-size: 24px;
	font-weight: var(--title-font-weight);
}

.price-content__subtitle{
	color: #22343D;
}

.price-price{
	color: var(--green);
	font-size: 76px;
	font-weight: var(--title-font-weight);
}

.price-block{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 16px 0;
}

.price-currency{
	text-align: left;
}

.price__dollar{
	font-family: 'Inter', sans-serif;
	font-weight: var(--title-font-weight);
	color: var(--green);
	font-size: 24px;
}

.price__month{
	color: #AFAFAF;
}

.price-info > p{
	font-family: 'Inter', sans-serif;
	color: #22343D;
	font-weight: 500;
	margin-bottom: 17px;
}

.price-info >p:last-child{
	margin-bottom: 38px;
}

.btn-order{
	padding: 11px 20px;
	color: #ffffff;
	margin-bottom: 32px;
	border-radius: 8px;
}

.btn-order:hover{
	color: #22343D;
}

.pop{
	height: 1000px;
}

/* reviews
==================== */
.reviews__title{
	font-size: var(--title-font-size);
	font-weight: var(--title-font-weight);
	text-align: center;
	margin-top: 150px;
	margin-bottom: 8px;
}

.reviews__subtitle{
	font-weight: 500;
	width: 537px;
	text-align: center;
	margin: 0 auto;
	letter-spacing: .2px;
}

.reviews-content{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.reviews-item{
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	padding: 26px 27px;
	background-color: #ffffff;
}

.reiews__text{
	width: 275px;
	line-height: 26px;
	letter-spacing: .2px;
	color: #737373;
}

.reviews-user{
	margin-top: 16px;
	display: flex;
	align-items: center;
}

.reviews-user__img{
	border: 1px solid #BDBDBD;
	border-radius: 50%;
	margin-right: 14px;
}

.reviews-user__company{
	font-weight: 600;
	color: var(--green);
}

.reviews-user__job{
	font-weight: 500;
	font-size: 14px;
	color: #252B42;
}

/* development
==================== */
.development{
	margin-top: 150px;
}

.development-content{
	background-color: var(--green);
	border-radius: 32px;
	padding: 14px 36px 0 51px;
	display: flex;
	align-items: center;
}

.development-content-text{
	width: 510px;
}

.development-content-text__title{
	font-size: 32px;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 53px;
}

.btn-get-this{
	padding: 10px 34px;
	background-color: #ffffff;
	color: var(--green);
	font-size: 20px;
	font-weight: 600;
	border-radius: 8px;
}

.btn-get-this:hover{
	color: #ffffff;
}


/* footer
=================== */
footer{
	margin-top: 150px;
	margin-bottom: 24px;
}

.footer-content{
	display: flex;
	justify-content: space-between;
}

.social__link{
	margin-right: 16px;
}

.social__link:last-child{
	margin-right: 0;
}

.social__item{
	margin-top: 25px;
	background-color: #EDFFFC;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 8px;
	stroke: var(--green);
	cursor: pointer;
	transition: all .2s ease-out;
}

.social__item:hover{
	transform: translateY(-5px);
	background-color: var(--green);
	stroke: #EDFFFC;
}

.footer-resource,
.footer-legal-stuff{
	line-height: 34px;
}

.resource__title,
.legal-stuff__title{
	font-size: 20px;
	font-weight: 500;
}

.footer-deal__title{
	font-size: 20px;
	font-weight: 500;
	color: var(--fonts-color);
	width: 280px;
}

.footer-form__input{
	margin-top: 34px;
	margin-bottom: 21px;
}

.sign-up-now{
	padding: 8px 15px;
}

.figmaland{
	text-align: center;
	margin-top: 20px;
}



